<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/nabeelrahman">Nabeel Rahman</a> 
  </p>
  <br />
  <p>
    This is my website and looking forward to the journey for the "thefirehose" project !!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nabeel Rahman</h2>
      <br />

      <p>
        Nabeel Rahman is a Quality Engineer and has worked on various business domains such as HealthCare, Banking, Finance and Taxes
      </p>
    </div>
  </div>

  <br class="clear" />

  <br />
  <br />
  <br />
  <br />
  <br />



</div>
